* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    border: 1px solid grey;
    overflow: hidden;
}

.place {
    max-width: 250px;
    width: 100%;
    height: 300px;
    background-color: rgb(231, 231, 231);
    border: 2px dotted grey;
}

.box {
    background-color: red;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
}

.box svg {
    width: 100%;
    height: 100%;
}

.choice {
    display: flex;
    width: 100%;
}

@keyframes stacked {
    0% {
        transform: scale(.8);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}