* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

.wrapper {
    padding: 20px;
    border: 1px solid grey;
    overflow: hidden;
}

.game-objects,
.game-places {
    display: flex;
    justify-content: space-around;
}

.game-objects {
    margin-bottom: 50px;
}

.place {
    max-width: 250px;
    width: 100%;
    height: 300px;
    /* border: 2px dotted grey; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    user-select: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.box svg,
.box img {
    width: 100%;
    height: 100%;
}

.box:hover svg path {
    fill: red;
    color: red;
}

.choice {
    display: flex;
    width: 100%;
}

@keyframes stacked {
    0% {
        transform: scale(.8);
    }
    30% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(.9);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}